[user]
	name = makiton
	email = makiton@gmail.com
[alias]
	st = status
	gl = log --oneline --decorate --graph
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[push]
	default = current
[core]
	excludesfile = /Users/makiton/.gitignore
